:root {
  --fonst-size: 30;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  font-size: var(--fonst-size);
}

body {
  font-family: "VT323", monospace;

  margin: 0;
  height: 100dvh;
  border: green solid 1px;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
}
.header {
  padding-inline: 2rem;
  border-bottom: red solid 1px;
}

.playground-wrapper {
  align-self: center;
  justify-self: center;
  aspect-ratio: 4/3;
  width: 100%;

  max-width: 800px;
  min-height: 40vh;
  margin-inline: 1rem;

  border: solid black 0.5rem;

  display: grid;
  grid-template-rows: auto 1fr auto;
  justify-content: center;

  align-items: center;
}

.game-header {
  display: flex;
  align-items: center;
  border-bottom: black solid 1px;
  height: 100%;
}

.game-header-item {
  font-size: inherit;
  text-align: center;
  /*vertical-align: middle;*/
  flex-basis: 100%;
  /*padding-top: 2rem; 
  height: 100%; */
}

.fails-wrapper {
  border-inline: black solid 1px;
  padding-block: 1rem;
}

#btn-newGame {
  /* all: unset; */
  /* width: 100%;
  height: 100%; */
  font-size: inherit;
}

.word {
  text-align: center;
  /*height: 100%;
  padding-top: 8rem; */
}

.keyboard {
  /* height: 100%; */
  padding-inline: 1rem;
  display: grid;
  grid-template-columns: repeat(13, 1fr);
}

.btn-letter {
  all: unset;
  margin: 0.5rem;
  font-size: 2rem;
  width: 2ch;
  box-sizing: content-box;
  border: 1px solid black;
  text-align: center;
  padding: 0.2rem;
  display: inline-block;
}

.active {
  color: blueviolet;
  transform: scale(1.5) rotate(0 deg);
}

.win {
  color: green;
  transform: rotate(-20deg) scale(1, 2);
  transition: transform 2s ease-in-out;
}

.loose {
  color: red;
  transform: rotate(-20deg) scale(1, 2);
  transition: transform 2s ease-in-out;
}

/*
svg {
  margin: 0 auto;
  border: 1px solid black;
}

line {
  stroke: black;
  stroke-width: 4;
}

#door1 {
  transform-origin: 0% 100%;
}

#door2 {
  transform-origin: 100% 100%;
}

.hide {
  visibility: hidden;
}
*/
